/* Estilo Global */
* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-family: Arial, sans-serif;
  color: white;
  background-image: url('./img/fundo.png');
}
  
.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
 }
  
  .alert-message {
    font-family: 'Times New Roman', Times, serif;
    font-size: 14px;
    text-align: center;
    padding: 10px;
    color: white;
    font-weight: 500;
    background-color: #333;
  }

  span{
    color: #e63946;
    font-weight: bold;
  }
  
  .expert-image {
    max-width: 100%;
    margin-bottom: 10px;
  }
  
  .cta-title {
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
  }

  .cta-subtitle {
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .description {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 20px;
    text-align: center;
  }

  .check-list {
    list-style: none;
  }

  .check-list li {
    position: relative; /* Permite posicionar o símbolo dentro do <li> */
    padding-left: 5px; /* Espaço para o marcador */
    margin-bottom: 10px;
  }

  .check-list li::before {
  content: "✔"; /* O símbolo de check */
  position: relative;
  left: 0; /* Alinha o símbolo à esquerda */
  color: green; /* Altere a cor do símbolo se desejar */
  font-size: 16px; /* Ajuste o tamanho do símbolo */
}

.btn-compra-div {
  text-align: center;
}

#btn-compra {
  width: 150px;
}

.descricao {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.conteudo {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.especialista {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
}

.modulos {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
}

.modulo {
  border-radius: 5px;
}

img {
  border-radius: 10px;
}

.duvidas {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

footer {
  text-align: center;
}

h1, h2, h3 {
  font-weight: bold;
}